/*setup*/
html{
  scroll-behavior: smooth;
}

body {
  background-color: #080E10;
  display: flex;
  justify-content: center;
  align-items: center;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
}
/*grid*/
.grid-container {
  display: grid;
  width:100%;
  grid-template-columns: repeat(14,1fr) ;
  grid-template-rows: repeat(77, 100px);
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

/*portada-content*/
#portada {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.header  {
  grid-row: 1/7;
  grid-column: 1/15;
}

.titulo {
  position: absolute;
  top:8px;
  left: 22%;
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
}

.titulo h3 {
  font-weight: normal;
  margin-bottom: -65px;
}

.item {
background-color: white;
}

/*hotbar*/
.hotbar {
  grid-row:7/8;
  grid-column: 5/11;
  background-color: inherit;
  text-align: center;
  position: sticky;
  top:0;
  z-index: 100;
}

li {
  display: inline-block;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  margin: 10px;
}

/*Intro*/
.intro {
  grid-row: 9/13;
  grid-column: 2/14;
  margin-top: 50px;
  background-color: inherit;

/*border*/
  border-top: 10px;
  border-bottom:10px;
  border-bottom-color: white;
  border-left-color: #080E10;
  border-right-color: #080E10;
  border-top-color: white;
  border-width: thick;
  border-style: solid;

}

.intro p {
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 13%;
  text-align: justify;
}

/*historia*/
.historia {
  grid-row: 14/39;
  grid-column: 2/14;
  background-color: inherit;


}

.historia h1 {

  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: white;

}

.his1 {

  display:block;


}

.img {
  height: 200px;
  object-fit: cover;
  float:left;
}

.h1 {
  margin-left: 400px;
  font-family: 'Poppins', sans-serif;
  color:white;
  font-size: 20px;
  margin-top: 100px;
}

.his2 {
  margin-top: 100px;
  text-align: justify;
  font-family:'Poppins', sans-serif;
  color:white;
  font-size: 20px;
}

.img2 {
  height: 200px;
  float: right;
  margin-left: 50px;
  padding-bottom: 80px;
}

/*personajes*/
.personajes {
  grid-row: 41/50;
  grid-column: 2/14;
  margin-top: -70%;
/*border*/
border-top: 10px;
border-style: solid;
border-bottom-color:  #080E10;
border-top-color: white;
border-left-color: #080E10;
border-right-color: #080E10;
}

.personajes h1{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.pj {
font-size: 18px;
color:white;
text-align: justify;
display: inline-block;
font-family: 'Poppins', sans-serif;
margin-top: 50px;


}
.pj img {
  height: 290px;
  float:left;
  margin-right: 20px;

}

/*galeria*/
.galeria {
  grid-row:59/auto;
  grid-column: 2/14;
  text-align: center;

}

.galeria h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: white;
  /*border*/
  border-top: 10px;
  border-style: solid;
  border-bottom-color:  #080E10;
  border-top-color: white;
  border-left-color: #080E10;
  border-right-color: #080E10;

}

.galeria div {
  width: 350px;
  height: 250px;

  display: inline-block;
  margin: 10px;
  object-fit: contain;

}

.galeria img {
  width: 100%;
  height:100%;
  object-fit: scale-down;

}

/*footer*/
.footer {
  grid-row:75/80;
  grid-column: 2/14;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  color:white;

}

.footer #flecha {
  height: 100px;
  width: 100px;
  float:right;
  margin:30px;
}

.footer #flecha:hover {
  height: 80px;
  width: 80px;
  margin:40px;

}

#nombre{
  position: fixed;
  bottom:0;
}

#clase {
  position: fixed;
  bottom:0;
  right:0;
  margin-right: 50px;
}

.svg-icon path, .svg-icon polygon, .svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
